Repository namehash/ensnode, pull requests merged in 2025-08, with the labels that each got.

#890 chore: Update RPC configuration guidance and validation
  .changeset/many-coins-wait.md
  apps/ensadmin/.env.local.example
  apps/ensindexer/.env.local.example
  apps/ensindexer/src/lib/lib-config.ts
  docker-compose.yml
  docs/ensnode.io/src/content/docs/ensindexer/usage/configuration.mdx
  examples/example-docker-compose/docker-compose.yml
Labels: documentation, devops

#912 refactor(api): remove `/ponder` endpoint and update documentation
  .changeset/stale-jobs-complain.md
  apps/ensadmin/src/app/@actions/api/ponder/page.tsx
  apps/ensindexer/src/api/index.ts
  docs/ensnode.io/src/content/docs/docs/usage/api.mdx
Labels: documentation, ensindexer

#970 Feat/tokenscope
  .changeset/six-pillows-pump.md
  .github/workflows/test_ci.yml
  apps/ensadmin/src/lib/chains.ts
  apps/ensindexer/.env.local.example
  apps/ensindexer/package.json
  apps/ensindexer/src/lib/currencies.ts
  apps/ensindexer/src/lib/datasource-helpers.ts
  apps/ensindexer/src/lib/ponder-helpers.ts
  apps/ensindexer/src/lib/tokenscope/assets.ts
  apps/ensindexer/src/lib/tokenscope/sales.ts
  apps/ensindexer/src/lib/tokenscope/seaport-types.ts
  apps/ensindexer/src/lib/tokenscope/seaport.ts
  apps/ensindexer/src/lib/tokenscope/token-issuers.ts
  apps/ensindexer/src/plugins/index.ts
  apps/ensindexer/src/plugins/referrals/handlers/UnwrappedEthRegistrarController.ts
  apps/ensindexer/src/plugins/tokenscope/event-handlers.ts
  apps/ensindexer/src/plugins/tokenscope/handlers/Seaport.ts
  apps/ensindexer/src/plugins/tokenscope/plugin.ts
  apps/ensindexer/test/token-issuers.test.ts
  docs/ensnode.io/src/content/docs/docs/usage/api.mdx
  docs/ensnode.io/src/content/docs/docs/usage/hosted-ensnode-instances.mdx
  packages/datasources/src/abis/seaport/Seaport1.5.ts
  packages/datasources/src/lib/types.ts
  packages/datasources/src/mainnet.ts
  packages/datasources/src/sepolia.ts
  packages/ensnode-schema/src/ponder.schema.ts
  packages/ensnode-schema/src/tokenscope.schema.ts
  packages/ensnode-sdk/src/ens/constants.ts
  packages/ensnode-sdk/src/ens/subname-helpers.ts
  packages/ensnode-sdk/src/ensindexer/config/types.ts
  packages/ensnode-sdk/src/ensindexer/config/zod-schemas.test.ts
  packages/ensnode-sdk/src/shared/account-id.ts
  packages/ensnode-sdk/src/shared/index.ts
  packages/ensnode-sdk/src/shared/serialized-types.ts
  packages/ensnode-sdk/src/shared/types.ts
  packages/ensnode-sdk/src/shared/zod-schemas.ts
  pnpm-lock.yaml
Labels: enhancement, ensindexer
