Repository namehash/ensnode, pull requests merged in 2025-03, with the labels that each got.

#300 297 ensrainbow fixes from reviews
  apps/ensrainbow/Dockerfile
  apps/ensrainbow/src/cli.ts
  apps/ensrainbow/src/commands/ingest-command.ts
  apps/ensrainbow/src/commands/server-command.test.ts
  apps/ensrainbow/src/commands/server-command.ts
  apps/ensrainbow/src/lib/api.ts
  apps/ensrainbow/src/lib/database.test.ts
  apps/ensrainbow/src/lib/database.ts
  apps/ensrainbow/src/lib/server.ts
  docs/ensnode.io/src/content/docs/ensrainbow/contributing/index.mdx
Labels: ensrainbow

#343 ENSRainbow: change the INGESTION_UNFINISHED_KEY to become INGESTION_STATUS_KEY
  apps/ensrainbow/src/commands/ingest-command.ts
  apps/ensrainbow/src/commands/server-command.test.ts
  apps/ensrainbow/src/commands/validate-command.test.ts
  apps/ensrainbow/src/lib/database.test.ts
  apps/ensrainbow/src/lib/database.ts
Labels: ensrainbow

#355 feat: add ENSRainbow v2 data and image workflows
  .github/workflows/build_ensrainbow_v2_data_image.yml
  .github/workflows/build_ensrainbow_v2_image.yml
  apps/ensrainbow/Dockerfile
  apps/ensrainbow/Dockerfile.data
  apps/ensrainbow/download-rainbow-tables.sh
  apps/ensrainbow/package.json
  docs/ensnode.io/src/content/docs/ensrainbow/contributing/building.mdx
  docs/ensnode.io/src/content/docs/ensrainbow/contributing/index.mdx
Labels: ensrainbow

#381 ENSAdmin: show primary names and avatars of owners
  apps/ensadmin-next/.env.local.example
  apps/ensadmin-next/README.md
  apps/ensadmin-next/package.json
  apps/ensadmin-next/src/app/layout.tsx
  apps/ensadmin-next/src/components/ens-name/index.tsx
  apps/ensadmin-next/src/components/ensnode/hooks.ts
  apps/ensadmin-next/src/components/ensnode/index.ts
  apps/ensadmin-next/src/components/ensnode/types.ts
  apps/ensadmin-next/src/components/indexing-status/components.tsx
  apps/ensadmin-next/src/components/indexing-status/view-models.ts
  apps/ensadmin-next/src/components/providers/wagmi-provider.tsx
  apps/ensadmin-next/src/components/recent-domains/components.tsx
  apps/ensadmin-next/src/components/ui/avatar.tsx
  apps/ensadmin-next/src/components/ui/skeleton.tsx
  apps/ensadmin-next/src/lib/wagmi.ts
  pnpm-lock.yaml
Labels: ensadmin

#390 ENSRainbow: add env-test-env data
  apps/ensrainbow/Dockerfile.data
  apps/ensrainbow/download-rainbow-tables.sh
  apps/ensrainbow/package.json
  apps/ensrainbow/src/cli.test.ts
  apps/ensrainbow/test/fixtures/ens_test_env_names.sql.gz
  docs/ensnode.io/src/content/docs/ensrainbow/contributing/index.mdx
Labels: ensrainbow

#391 Docker for ensrainbow test data
  .github/workflows/build_ensrainbow_test_data_image.yml
  .github/workflows/build_ensrainbow_test_image.yml
  docs/ensnode.io/src/content/docs/ensrainbow/contributing/index.mdx
Labels: ensrainbow

#392 Use bun image
  .github/workflows/test_ensrainbow_image_on_mac.yml
  apps/ensrainbow/Dockerfile
  apps/ensrainbow/package.json
  docs/ensnode.io/src/content/docs/ensrainbow/contributing/index.mdx
  pnpm-lock.yaml
Labels: ensrainbow

#397 Run tests on Ubuntu ARM; disable ensrainbow v2 images
  .github/workflows/build_ensrainbow_image.yml
  .github/workflows/build_ensrainbow_v2_data_image.yml
  .github/workflows/build_ensrainbow_v2_image.yml
  .github/workflows/test_ensrainbow_image_on_ubuntu_arm.yml
  apps/ensrainbow/Dockerfile
  docs/ensnode.io/src/content/docs/ensrainbow/contributing/index.mdx
Labels: ensrainbow

#383 Feat/382 create bluegreen environments
  .github/workflows/switch_ensnode_environment.yml
Labels: devops

#444 feat(api): add ENSRainbow version fetching functionality
  apps/ensindexer/src/api/index.ts
  apps/ensindexer/src/lib/ponder-helpers.ts
  apps/ensrainbow/src/commands/server-command.test.ts
  apps/ensrainbow/src/lib/api.ts
  packages/ensrainbow-sdk/src/client.spec.ts
  packages/ensrainbow-sdk/src/client.ts
  packages/ponder-metadata-api/package.json
  packages/ponder-metadata-api/src/middleware.ts
  packages/ponder-metadata-api/src/types/api.ts
  pnpm-lock.yaml
Labels: ensnode

#452 feat: add ENSIndexer logo to status header and include new SVG file
  apps/ensadmin/src/components/ensindexer-icon.tsx
  apps/ensadmin/src/components/indexing-status/components.tsx
Labels: ensadmin

#455 feat: add ENSRainbow icon and integrate version display in indexing s…
  apps/ensadmin/src/components/ensindexer-icon.tsx
  apps/ensadmin/src/components/ensnode-icon.tsx
  apps/ensadmin/src/components/ensrainbow-icon.tsx
  apps/ensadmin/src/components/indexing-status/components.tsx
  apps/ensadmin/src/components/indexing-status/view-models.ts
Labels: ensadmin
