Repository namehash/ensnode, pull requests merged in 2025-02, with the labels that each got.

#148 ENSRainbow: Add comments about Invalid record in ens rainbow tables
  apps/ensrainbow/src/ingest.ts
Labels: ensrainbow

#133 ENSRainbow: More fixes
  README.md
  apps/ensrainbow/README.md
  apps/ensrainbow/package.json
  apps/ensrainbow/src/index.test.ts
  apps/ensrainbow/src/index.ts
  apps/ensrainbow/src/ingest.ts
  apps/ensrainbow/src/utils/label-utils.test.ts
  apps/ensrainbow/src/utils/label-utils.ts
  apps/ensrainbow/src/utils/rainbow-record.test.ts
  apps/ensrainbow/src/utils/rainbow-record.ts
  pnpm-lock.yaml
Labels: ensrainbow

#89 Add initial ENSNode API Querying Best Practices
  docs/querying_best_practices.md
Labels: documentation, ensnode, enssubgraph

#149 ENSRainbow: Optimize Label Count API
  apps/ensrainbow/Dockerfile
  apps/ensrainbow/README.md
  apps/ensrainbow/package.json
  apps/ensrainbow/src/count-keys.ts
  apps/ensrainbow/src/index.test.ts
  apps/ensrainbow/src/index.ts
  apps/ensrainbow/src/ingest.ts
  apps/ensrainbow/src/utils/constants.ts
Labels: ensrainbow

#153 Refine ENSRainbow API Operations & Response Types
  apps/ensrainbow/.gitignore
  apps/ensrainbow/src/index.test.ts
  apps/ensrainbow/src/index.ts
  apps/ensrainbow/src/ingest.ts
  apps/ensrainbow/src/operations.ts
  apps/ensrainbow/src/utils/label-utils.ts
  apps/ensrainbow/src/utils/response-types.ts
Labels: ensrainbow

#150 ENSRainbow: Refine API responses
  apps/ensrainbow/.gitignore
  apps/ensrainbow/README.md
  apps/ensrainbow/src/count-keys.ts
  apps/ensrainbow/src/index.test.ts
  apps/ensrainbow/src/index.ts
  apps/ensrainbow/src/ingest.ts
  apps/ensrainbow/src/operations.ts
  apps/ensrainbow/src/utils/byte-utils.ts
  apps/ensrainbow/src/utils/constants.ts
  apps/ensrainbow/src/utils/rainbow-record.ts
  apps/ensrainbow/src/utils/response-types.ts
Labels: ensrainbow

#161 Update total expected records in readme
  apps/ensrainbow/README.md
  docs/ensrainbow/src/content/docs/guides/quick-start.md
Labels: documentation, ensrainbow

#199 ENSRainbow: Refine Instance Resources
  apps/ensrainbow/README.md
Labels: ensrainbow

#223 ENSRainbow: Handle interrupted ingestion
  apps/ensrainbow/src/commands/count-command.ts
  apps/ensrainbow/src/commands/ingest-command.ts
  apps/ensrainbow/src/commands/server-command.ts
  apps/ensrainbow/src/lib/database.ts
Labels: ensrainbow

#192 Generalize ens-deployments package
  README.md
  apps/ensnode/ponder.config.ts
  apps/ensnode/src/lib/plugin-helpers.ts
  apps/ensnode/src/lib/types.ts
  apps/ensnode/src/plugins/base/ponder.plugin.ts
  apps/ensnode/src/plugins/eth/ponder.plugin.ts
  apps/ensnode/src/plugins/linea/ponder.plugin.ts
  docs/ensnode/src/content/docs/reference/mainnet-registered-subnames-of-subregistries.mdx
  packages/ens-deployments/README.md
  packages/ens-deployments/package.json
  packages/ens-deployments/src/abis/base/BaseRegistrar.ts
  packages/ens-deployments/src/abis/base/EARegistrarController.ts
  packages/ens-deployments/src/abis/base/L1Resolver.ts
  packages/ens-deployments/src/abis/base/L2Resolver.ts
  packages/ens-deployments/src/abis/base/RegistrarController.ts
  packages/ens-deployments/src/abis/base/Registry.ts
  packages/ens-deployments/src/abis/base/ReverseRegistrar.ts
  packages/ens-deployments/src/abis/eth/BaseRegistrar.ts
  packages/ens-deployments/src/abis/eth/EthRegistrarController.ts
  packages/ens-deployments/src/abis/eth/EthRegistrarControllerOld.ts
  packages/ens-deployments/src/abis/eth/LegacyPublicResolver.ts
  packages/ens-deployments/src/abis/eth/NameWrapper.ts
  packages/ens-deployments/src/abis/eth/Registry.ts
  packages/ens-deployments/src/abis/eth/Resolver.ts
  packages/ens-deployments/src/abis/linea/BaseRegistrar.ts
  packages/ens-deployments/src/abis/linea/EthRegistrarController.ts
  packages/ens-deployments/src/abis/linea/NameWrapper.ts
  packages/ens-deployments/src/abis/linea/Registry.ts
  packages/ens-deployments/src/abis/linea/Resolver.ts
  packages/ens-deployments/src/ens-test-env.ts
  packages/ens-deployments/src/filters.ts
  packages/ens-deployments/src/holesky.ts
  packages/ens-deployments/src/index.ts
  packages/ens-deployments/src/mainnet.ts
  packages/ens-deployments/src/sepolia.ts
  packages/ens-deployments/src/types.ts
  pnpm-lock.yaml
Labels: documentation, enhancement, ensnode

#230 Refine README content for ensrainbow-sdk
  README.md
  packages/ensrainbow-sdk/README.md
Labels: documentation

#224 ENSRainbow: switch to bun, streamline docker for ingest
  README.md
  apps/ensnode/Dockerfile
  apps/ensrainbow/.dockerignore
  apps/ensrainbow/Dockerfile
  apps/ensrainbow/README.md
  apps/ensrainbow/package.json
  apps/ensrainbow/src/cli.ts
  apps/ensrainbow/src/commands/count-command.ts
  apps/ensrainbow/src/commands/ingest-command.ts
  apps/ensrainbow/src/commands/server-command.test.ts
  apps/ensrainbow/src/commands/server-command.ts
  apps/ensrainbow/src/commands/validate-command.test.ts
  apps/ensrainbow/src/commands/validate-command.ts
  apps/ensrainbow/src/lib/database.test.ts
  apps/ensrainbow/src/lib/database.ts
  apps/ensrainbow/src/lib/server.ts
  apps/ensrainbow/src/utils/number-utils.test.ts
  apps/ensrainbow/tsconfig.json
  docker-compose.yml
  docs/ensrainbow/src/content/docs/guides/quick-start.mdx
  packages/ponder-subgraph-api/src/middleware.ts
  pnpm-lock.yaml
Labels: ensrainbow

#220 Feat/restructure ensrainbow image build
  .github/workflows/build_ensrainbow_data_image.yml
  .github/workflows/build_ensrainbow_image.yml
  .github/workflows/ci.yml
  apps/ensrainbow/Dockerfile
  apps/ensrainbow/Dockerfile.data
Labels: ensrainbow

#254 Improve ENSRainbow Docs
  apps/ensrainbow/README.md
  apps/ensrainbow/package.json
  apps/ensrainbow/src/cli.ts
  apps/ensrainbow/src/commands/server-command.test.ts
  apps/ensrainbow/src/commands/server-command.ts
  apps/ensrainbow/src/lib/database.ts
  apps/ensrainbow/src/lib/server.ts
Labels: ensrainbow

#251 Switch logger in ENSRainbow to pino
  apps/ensrainbow/README.md
  apps/ensrainbow/package.json
  apps/ensrainbow/src/cli.ts
  apps/ensrainbow/src/commands/count-command.ts
  apps/ensrainbow/src/commands/ingest-command.ts
  apps/ensrainbow/src/commands/server-command.test.ts
  apps/ensrainbow/src/commands/server-command.ts
  apps/ensrainbow/src/commands/validate-command.ts
  apps/ensrainbow/src/lib/database.test.ts
  apps/ensrainbow/src/lib/database.ts
  apps/ensrainbow/src/lib/server.ts
  apps/ensrainbow/src/utils/logger.test.ts
  apps/ensrainbow/src/utils/logger.ts
  pnpm-lock.yaml
Labels: ensrainbow, ensnode

#259 Reorder Sections in Readme
  apps/ensrainbow/README.md
Labels: ensrainbow

#261 ENSRainbow: Test CLI e2e
  apps/ensrainbow/src/cli.test.ts
  apps/ensrainbow/src/cli.ts
  apps/ensrainbow/src/commands/server-command.ts
  apps/ensrainbow/src/lib/database.ts
  apps/ensrainbow/test/fixtures/test_ens_names.sql.gz
Labels: ensrainbow

#285 ENSRainbow: Add purge command
  apps/ensrainbow/package.json
  apps/ensrainbow/src/cli.test.ts
  apps/ensrainbow/src/cli.ts
  apps/ensrainbow/src/commands/purge-command.ts
Labels: ensrainbow

#278 Add lite validation mode to ENSRainbow database validation
  apps/ensrainbow/Dockerfile
  apps/ensrainbow/package.json
  apps/ensrainbow/src/cli.test.ts
  apps/ensrainbow/src/cli.ts
  apps/ensrainbow/src/commands/purge-command.ts
  apps/ensrainbow/src/commands/validate-command.ts
  apps/ensrainbow/src/lib/database.test.ts
  apps/ensrainbow/src/lib/database.ts
  apps/ensrainbow/src/lib/server.ts
Labels: ensrainbow

#265 Refactor ENSRainbow logic into layers
  apps/ensrainbow/Dockerfile
  apps/ensrainbow/package.json
  apps/ensrainbow/src/cli.test.ts
  apps/ensrainbow/src/cli.ts
  apps/ensrainbow/src/commands/count-command.ts
  apps/ensrainbow/src/commands/ingest-command.ts
  apps/ensrainbow/src/commands/purge-command.ts
  apps/ensrainbow/src/commands/server-command.test.ts
  apps/ensrainbow/src/commands/server-command.ts
  apps/ensrainbow/src/commands/validate-command.test.ts
  apps/ensrainbow/src/commands/validate-command.ts
  apps/ensrainbow/src/lib/database.test.ts
  apps/ensrainbow/src/lib/database.ts
  apps/ensrainbow/src/lib/env.ts
  apps/ensrainbow/src/lib/routes.ts
  apps/ensrainbow/src/lib/server.ts
  apps/ensrainbow/src/utils/byte-utils.ts
  apps/ensrainbow/src/utils/number-utils.test.ts
  apps/ensrainbow/src/utils/number-utils.ts
Labels: ensrainbow

#296 Fix Dockerfile validate
  apps/ensrainbow/Dockerfile
Labels: ensrainbow

#299 Add missing wget
  apps/ensrainbow/Dockerfile.data
Labels: ensrainbow

#301 Fix path in Dockerfile
  apps/ensrainbow/Dockerfile
Labels: ensrainbow
